body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: left;
    height: 100px;
}

.header-content {
    padding: 20px 0;
}

nav {
    height: 80px;
}

.modern a {
    flex: 1 1 100%;
}

.navigation {
    list-style: none;
    display: flex;
    background-color: black;
    align-items: center;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: #eee;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}


main {
    display: flex;
    background-color: #d3d3d3;
    height: 300px;
}

.main-content {
    flex: 3;
    padding: 20px;
}

aside {
    flex: 1;
    background-color: white;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    height: 300px;
}